h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p, div {
  font-family: 'Open Sans', sans-serif;
}

.ng-invalid.ng-dirty.should-validate {
  border-color: red;
}

.ng-valid.ng-dirty.should-validate {
  border-color: green;
}

hr.ruler {
  border-top: 1px solid #8c8b8b;
}

.list-inline {
  display: flex;
}

.list-inline li {
  flex: 1;

  text-align: center;
}

body
{
  font-size: 3.2vw;
}